.sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.active-navbar{
    text-shadow: 0 0 6px #59de34, 0 0 8px #59de34, 0 0 11px #59de34;
}

.navbar-icon{
    filter: drop-shadow(0px 0px 5px #c3c3c3);
}