/*questa porzione consente alla sidebar di rimanere attaccata al sito posizonandola a 10% dall'alto*/
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

/*qui lo stile del 'li' della navbar attivo, in questo caso lo rende in grassetto*/
.active-navbar {
    font-weight: 550 !important;
}

/*effetto di sfumatura bianca dietro il navbar-logo*/
.navbar-icon {
    filter: drop-shadow(0px 0px 5px #c3c3c3);
    transition: 0.3s;
}

.navbar-icon:hover{
    filter: drop-shadow(0px 0px 7px #c3c3c3);
}

.logo-volterra-card {
    width: 126px !important;
}

.main-text{
    margin-top: 5px;
    text-align: justify;
    font-weight: 400;
}